{% extends "layout.html" %}

{% block content %}
  <div class="container">
      <table class="table">
          <thead>
          <tr>
              <th scope="col">Year</th>
              <th scope="col">Percentage reduction from 2002 emissions</th>
              <th scope="col">Annual increase in CO2 concentration</th>
              <th scope="col">Resulting 2100 CO2 concentration</th>
          </tr>
          </thead>
          <tbody>
          <tr>
              <th scope="row">1957</th>
              <td>67</td>
              <td>0.8</td>
              <td>455</td>
          </tr>
          <tr>
              <th scope="row">1962</th>
              <td>61</td>
              <td>0.9</td>
              <td>465</td>
          </tr>
          <tr>
              <th scope="row">1967</th>
              <td>53</td>
              <td>1</td>
              <td>474</td>
          </tr>
          <tr>
              <th scope="row">1970</th>
              <td>42</td>
              <td>1.1</td>
              <td>483</td>
          </tr>
          </tbody>
      </table>
      <a href="#" class="btn btn-secondary btn-lg disabled" role="button" aria-disabled="true">http://www.worldclimatereport.com/index.php/2006/04/10/dialing-in-your-own-climate/</a>
</div>

{% endblock %}
